* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo
{
    font-family: 'Kaushan Script';
    color: #CD2F42;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 50px;
}

.nav-links a
{
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 200;
    gap:10px;
    color: black;
    margin-right: 20px;
}

.nav-links img
{
    height: 30px;
    
}

.mySlides 
{
    display: none
}

.slideshow-container img
{
    vertical-align: middle;
    width: 100%;
}

.slideshow-container 
{
  width: 100%;
  position: relative;
  margin: auto;
}

.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #CD2F42;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next 
{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover 
{
  background-color: rgba(0,0,0,0.8);
}

.fade 
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade
 {
  from {opacity: .4} 
  to {opacity: 1}
}



.upper-foot
  {
      height: 400px;
      background-color: #FFF5F7;
      color: black;
      display: flex;
      justify-content: space-evenly;
  }
  
  .upper-foot h4
  {
     font-family: 'Inter';
     margin-top: 30px;
     border-bottom: 2px solid rgb(143, 131, 131);
     margin-bottom: 10px;
     padding-bottom: 10px;
  }
  
  .upper-foot a
  {
      display: block;
      text-decoration:none ;
      color: black;
      padding-top: 10px;
      font-family: 'Inter';
      font-size: 15px;
  }

  .become-member
  {
    font-weight: bold;
  }
  
  .upper-foot a:hover{
      text-decoration: underline;
     
  }
  
  .lower-foot
  {
      height: 50px;
      background-color: #FFF5F7;
      color: black;
      font-family: 'Inter';
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
  
  }


  .foot-logo
  {
      font-family: 'Kaushan Script';
      color: #CD2F42;
      background-color: #FFF5F7;
      font-size: 20px;
      margin-left: 50px;
      text-align: center;
  }




@media(max-width:800px)
{
    .nav-logo
{
    
    font-size: 25px;
    margin-top: 20px;
    margin-left: 50px;
    cursor: pointer;
}

.nav-links a
{

    margin-top:10px ;
    font-size: 12px;
    margin-right: 20px;
    display: block;
    
}

.nav-links img
{
    display: none;
    
}

.slideshow-container 
{
 margin-top: 50px; 
}

.slideshow-container img
{
   height: 300px;
    width: 100%;
}


.upper-foot h4
  {
    font-size:8px ;
  }
  
  .upper-foot a
  {
    font-size:8px ;
  }

  .lower-foot
  {
      margin-top: -100px;
      font-size: 8px; 
  
  }

  .foot-logo
  {
    margin-top: 10px;
      font-size: 15px;
      
  }
}